<div class="content-wrapper">
    <div class="content-header">
        <h3>About Me</h3>
    </div>
    <div class="content-section" appScrollAyat>
        <section class="sec-box" [@fade]>
            <div class="card ayat-card-wrap text-center">
                <div class="card-header">
                    <h4>Who AM I</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        I'am Ayatullah Rahmani and i am Front-End Web Developer. It's been
                        4<sup>+ </sup>years, I’m working as Front-End/UI developer
                    </p>

                </div>
            </div>
        </section>
        <!-- end sec -->
      
        <section class="sec-box ps-info" [@slideInOut]>
            <div class="card ayat-card-wrap">
                <div class="card-header text-center">
                    <h4>Personal Information</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group my-info">
                        <li class="list-group-item"><label>Name</label>: Md Ayatullah Rahmani
                        </li>
                        <li class="list-group-item"><label>Email</label>:
                            ayatullahrahmani@gmail.com</li>
                        <li class="list-group-item"><label>Address</label>: C-301,Top
                            Floor,Shaheen Bagh, Delhi, 110025, India</li>
                        <li class="list-group-item"><label>Phone</label>: 9910888155</li>
                        <li class="list-group-item"><label>Education</label>: PGDCA(Computer
                            Application)</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end sec -->

        <section class="sec-box">
            <div class="card ayat-card-wrap">
                <div class="card-header  text-center">
                    <h4>What I Do</h4>
                </div>
                <div class="card-body">
                 <app-what-i-do></app-what-i-do>
                </div>
            </div>
        </section>
        <!-- end sec -->

        <section class="sec-box ps-info">
            <div class="card ayat-card-wrap">
                <div class="card-header text-center">
                    <h4>Why Choose Me</h4>
                </div>
                <div class="card-body">
                  <app-my-skill></app-my-skill>

                </div>
            </div>
        </section>
        <!-- end sec -->
    </div>
    <!-- end  contect section -->
</div>
<!-- end content wrapper -->