<div class="content-wrapper">
    <div class="content-header">
        <h3>Resume</h3>
    </div>
    <div class="content-section" appScrollAyat>
        <section class="sec-box" [@fade]>
            <div class="card ayat-card-wrap text-center">
                <div class="card-header">
                    <h4>Work Experience</h4>
                </div>
                <div class="card-body">
                    <div class="box-wrapper">
                        <div class="col-box" >
                            <figure>
                                <img src="/assets/img/company/logofinoit.svg">
                            </figure>
                            <h3> Finoit Technologies</h3>
                            <h4>Sr. UI Developer/Tech Lead</h4>
                            <h5> Oct 2019 - Present</h5>
                        </div>
                        <div class="col-box">
                            <figure class="inf">
                                <img  src="/assets/img/company/infogain-logo.png">
                            </figure>
                            <h3>Infogain India Private Limited</h3>
                            <h4>Sr. UI Developer</h4>
                            <h5>Nov 2018 - Oct 2019</h5>
                        </div>
                        <!-- end box -->

                        <div class="col-box">
                            <figure>
                                <img  src="/assets/img/company/4qt.png">
                            </figure>
                            <h3>4th Quarter Technologies</h3>
                            <h4>UI Developer</h4>
                            <h5>Oct 2016 - Oct 2018</h5>
                        </div>
                        <!-- end box -->

                        <div class="col-box">
                            <figure>
                                <img  src="/assets/img/company/sand.jpg">
                            </figure>
                            <h3>Sandstrom Infotech Pvt. Ltd</h3>
                            <h4>Sr. Web Designer</h4>
                            <h5>Oct 2014 - Oct 2016</h5>
                        </div>
                        <!-- end box -->
                    </div>

                </div>
            </div>
        </section>
        <!-- end sec -->

        <section class="sec-box ps-info">
            <div class="card ayat-card-wrap">
                <div class="card-header text-center">
                    <h4>SKILLS</h4>
                </div>
                <div class="card-body">
                  <app-my-skill></app-my-skill>

                </div>
            </div>
        </section>
        <!-- end sec -->
    </div>
    <!-- end  contect section -->
</div>
<!-- end content wrapper -->