<ul class="list-group job-info">
    <li class="list-group-item">
        Expertise in
        <span class="badge badge-primary">HTML5</span> <span class="badge badge-primary">CSS3</span>
        <span class="badge badge-primary">Angular 2+</span>
        <span class="badge badge-primary">JQuery</span>
        <span class="badge badge-primary">PSD to
            XHTML</span>
        <span class="badge badge-primary">JavaScript</span>
        <span class="badge badge-primary">Bootstrap</span>
        <span class="badge badge-primary">Media
            Query</span>
        <span class="badge badge-primary">LESS</span>
        <span class="badge badge-primary">SASS</span>.
    </li>
    <li class="list-group-item">3<sup>+</sup> year experience in <span
            class="badge badge-primary">Angular 2/4/5/6/7/8/9/10</span> </li>
    <li class="list-group-item">I develop user-friendly web interfaces to the highest W3C standards.
    </li>
    <li class="list-group-item">Specialized in 
        <span class="badge badge-primary">HTML5</span> <span class="badge badge-primary">CSS3</span>
        <span class="badge badge-primary">Angular 2+</span>
        <span class="badge badge-primary">JQuery</span>
        <span class="badge badge-primary">PSD to
            XHTML</span>
        <span class="badge badge-primary">JavaScript</span>
        <span class="badge badge-primary">Bootstrap</span>
        <span class="badge badge-primary">Media
            Query</span>
        <span class="badge badge-primary">LESS</span>
        <span class="badge badge-primary">SASS</span>
         and Mobile Compatible (Responsive) based website and Frontend Application Development.
    </li>
    <li class="list-group-item">Strong understanding of Mobile Based Layout (Responsive) </li>
    <li class="list-group-item"> Developed application to assess <span class="badge badge-primary">JSON</span> 
         for RESTful web service using <span class="badge badge-primary">JavaScript</span> and <span
        class="badge badge-primary">Angular 2/4/5/6/7/8/9/10</span>.</li>
    <li class="list-group-item">Translate wireframes into interactive,
        dynamic code.</li>
    <li class="list-group-item">Identify ways to improve design and
        development</li>
    <li class="list-group-item">Manage task effectively and prioritize
        accordingly</li>
    <li class="list-group-item"> Work effectively within collaborative team
        to identify and resolve issues</li>
    <li class="list-group-item"> A self-starter who can effectively balance
        and prioritize multiple projects concurrently</li>
    <li class="list-group-item"> Excellent analytical, organizational and
        problem-solving skills coupled with a strong work ethic.</li>
    <li class="list-group-item"> Has a strong knowledge with hand-coded
        <span class="badge badge-primary">HTML5</span> <span class="badge badge-primary">CSS3</span>
        <span class="badge badge-primary">Angular 2+</span>
        <span class="badge badge-primary">JQuery</span>
        <span class="badge badge-primary">PSD to
            XHTML</span>
        <span class="badge badge-primary">JavaScript</span>
        <span class="badge badge-primary">Bootstrap</span>
        <span class="badge badge-primary">Media
            Query</span>
        <span class="badge badge-primary">LESS</span>
        <span class="badge badge-primary">SASS</span>. </li>
    <li class="list-group-item">Solid experience with responsive and
        adaptive design techniques</li>
    <li class="list-group-item">Can lead a project team and facilitate the
        work of others</li>
    <li class="list-group-item">Expert level programming skills in <span class="badge badge-primary">JavaScript</span> and <span
        class="badge badge-primary">Angular</span></li>
    <li class="list-group-item"> Ability to take initiative to research and
        learn emerging technologies</li>
    <li class="list-group-item"> Manage a team of Front-End UI Developer
    </li>
    <li class="list-group-item"> Good client-facing skills</li>
    <li class="list-group-item"> Agile processes knowledge and experience
    </li>
    <li class="list-group-item">Prototyping, coding, testing and analyzing
        Responsive Web front-end application software</li>
    <li class="list-group-item"> Developing and maintaining web and front
        ends for various browsers and devices</li>
    <li class="list-group-item"> Experience in Designing and developing
        Responsive Websites</li>
    <li class="list-group-item">Good conceptual understanding of DOM and DOM
        Manipulation.</li>
    <li class="list-group-item"> Experience with cross browser compatibility
        and UI performance.</li>
    <li class="list-group-item"> Being able to quickly learn and then follow
        best practices and standards</li>
    <li class="list-group-item">Design/develop innovative and engaging UIs
        with the latest technologies</li>
    <li class="list-group-item"> Experience testing web apps to address
        browser compatibility, usability, accessibility, and performance
        issues</li>
    <li class="list-group-item">Develop innovative website features for new
        and existing client websites across a wide range of industries to
        increase functionality, speed, relevancy, and scalability of the
        website.</li>
    <li class="list-group-item"> Collaborate with developers on the back end
        regarding user input, and make adjustments to the coding to exceed
        client requirements.</li>
    <li class="list-group-item">Lead design projects and clearly communicate
        with all team members regarding project expectations and progress.
    </li>
</ul>