<div class="skill-set">
    <div class="row">
        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5> <img src="assets/img/angular.png"> Angular 2/4/5/6/7/8/9/10</h5>
                <ngb-progressbar type="success" [value]="85" [striped]="true" height="13px"
                    [animated]="true"><i>75%-85%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->
        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/html.png"> HTML5</h5>
                <ngb-progressbar type="success" [value]="90" [striped]="true" height="13px"
                    [animated]="true"><i>95%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/css.png"> CSS3</h5>
                <ngb-progressbar type="success" [value]="95" [striped]="true" height="13px"
                    [animated]="true"><i>95%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/javascript.png" alt="JavaScript"> JavaScript</h5>
                <ngb-progressbar type="success" [value]="60" [striped]="true" height="13px"
                    [animated]="true"><i>60%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/type.png" alt="JavaScript"> TypeScript</h5>
                <ngb-progressbar type="success" [value]="60" [striped]="true" height="13px"
                    [animated]="true"><i>60%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/javascript.png" alt="ES6"> ES6</h5>
                <ngb-progressbar type="success" [value]="40" [striped]="true" height="13px"
                    [animated]="true"><i>40%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/bootstrap.png" alt="Bootstrap"> Bootstrap</h5>
                <ngb-progressbar type="success" [value]="90" [striped]="true" height="13px"
                    [animated]="true"><i>90%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/jquery.png" alt="JQuery"> JQuery</h5>
                <ngb-progressbar type="success" [value]="90" [striped]="true" height="13px"
                    [animated]="true"><i>90%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/angular.png" alt="Angular Material"> Angular Material</h5>
                <ngb-progressbar type="success" [value]="95" [striped]="true" height="13px"
                    [animated]="true"><i>95%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/json.png" alt="JSON"> JSON</h5>
                <ngb-progressbar type="success" [value]="95" [striped]="true" height="13px"
                    [animated]="true"><i>95%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/sass.png" alt="Sass"> Sass</h5>
                <ngb-progressbar type="success" [value]="85" [striped]="true" height="13px"
                    [animated]="true"><i>85%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/less.png" alt="less"> Less</h5>
                <ngb-progressbar type="success" [value]="85" [striped]="true" height="13px"
                    [animated]="true"><i>70%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/photoshop.png" alt="Photoshop"> Photoshop</h5>
                <ngb-progressbar type="success" [value]="50" [striped]="true" height="13px"
                    [animated]="true"><i>50%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/code.png" alt="Media queries">  Media queries</h5>
                <ngb-progressbar type="success" [value]="95" [striped]="true" height="13px"
                    [animated]="true"><i>95%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/type.png" alt="AJAX"> AJAX</h5>
                <ngb-progressbar type="success" [value]="80" [striped]="true" height="13px"
                    [animated]="true"><i>80%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->

        <div class="col-sm-6 skill-col">
            <div class="skill-box">
                <h5><img src="assets/img/jquery.png" alt="AJAX"> jQuery UI</h5>
                <ngb-progressbar type="success" [value]="90" [striped]="true" height="13px"
                    [animated]="true"><i>90%</i></ngb-progressbar>
            </div>
        </div>
        <!-- end col -->


    </div>
</div>